/* Variables */
/* Barra de navegacion */
.navbar {
  border: 10px red;
  border-style: ridge;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navbar-brand a {
  text-align: center;
  color: gold;
}

.nav-item {
  text-align: center;
  background: red;
  font-family: sans-serif;
  width: 170px;
  height: 50px;
  border: 5px gold;
  border-style: ridge;
}

.navbar-toggler {
  height: 65px;
  background-image: url(/imagenes/IconEspectaculares.png);
}

.dropdown-menu {
  background-color: black;
  border: 5px gold;
  border-style: ridge;
}

/* Encabezado */
.encabezado__titulo {
  width: 100%;
  text-align: center;
  height: 70px;
  background-color: black;
  color: gold;
  border: 10px gold;
  border-style: ridge;
  font-family: "Lora", serif;
}

/* Tabla de presentacion */
.tablaPresentacion {
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.tablaPresentacion__tabla {
  background-color: black;
  color: gold;
  font-family: "Open Sans Condensed", sans-serif;
  border-color: red;
  border-left: 20px red;
  border-right: 20px red;
  border-style: ridge;
}

.tablaPresentacion__tabla th {
  color: gold;
}

.tablaPresentacion__tabla tr {
  color: silver;
}

/* Contactos */
.contactos__wathsapp {
  padding-left: 35px;
  background-image: url(/imagenes/whatsapp.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.contactos__facebook {
  width: 300px;
  padding-left: 35px;
  background-image: url(/imagenes/facebook.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.contactos__email {
  padding-left: 35px;
  background-image: url(/imagenes/gmail.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.contacto {
  margin-bottom: 10px;
}