$color1: red;
$color2: black;
$color3: gold ;
$color4: silver;

.formulario{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0, 0.5);
    color: $color3;
    text-align: center;
    margin-bottom: 5px;
}
.formulario h4{
    color: $color1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}