/* Variables */
$color1: red;
$color2: black;
$color3: gold ;
$color4: silver;
$botonAncho1: 170px;
$botonAlto1: 50px;

/* Barra de navegacion */

.navbar{
    border: 10px $color1;
    border-style: ridge;
    align-items: baseline ;
    
}

.navbar-brand a{
    text-align: center;
    color: $color3;
}

.nav-item{
    text-align: center;
    background: $color1;
    font-family:sans-serif ;
    width: $botonAncho1;
    height: $botonAlto1;
    border: 5px $color3;
    border-style: ridge;
    
}


.navbar-toggler{
    height: 65px;
    background-image: url(/imagenes/IconEspectaculares.png);
}

.dropdown-menu{
    background-color: black;
    border: 5px $color3;
    border-style: ridge;
}
/* Encabezado */
.encabezado__titulo{
    width: 100%;
    text-align: center;
    height: 70px ;
    background-color: $color2;
    color: $color3;
    border: 10px $color3;
    border-style: ridge;;
    font-family: 'Lora', serif ;
    
    }

    /* Tabla de presentacion */
.tablaPresentacion{
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.tablaPresentacion__tabla{
    background-color: rgba(0, 0, 0,);
    color: $color3;
    font-family: 'Open Sans Condensed', sans-serif
    ;
    border-color: $color1;
    border-left: 20px $color1;
    
    border-right: 20px $color1;

    border-style: ridge}

.tablaPresentacion__tabla th{
    color: $color3;
}
.tablaPresentacion__tabla tr{
    color: $color4;
}

/* Contactos */
.contactos__wathsapp{
    padding-left: 35px;
    background-image: url(/imagenes/whatsapp.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.contactos__facebook{
    width: 300px;
    padding-left: 35px;
    background-image: url(/imagenes/facebook.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.contactos__email{
    padding-left: 35px;
    background-image: url(/imagenes/gmail.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.contacto{
    margin-bottom: 10px;
}
